.quote{
    padding: 40px;
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
    margin-left:7.5rem;
    margin-bottom: -.9rem;
    font-size: 1.5rem;
    font-weight: 640;
    display: flex;
    justify-content: baseline
}
.main1{
    width: 75rem;
    object-fit: fill;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-gap: 2rem;
    margin-left: 10rem;
}



.grid img,p,h2{
    width: 100%;
}
.grid h2{
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
    font-weight:500;
}
border{
    display: flex;
    margin-top: 50px;
    min-height: 10px;
    background-color: rgb(46, 104, 250);;
}